<head>
  {% if page.title %}
  <title>{{ site.title }} - {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Vac</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Twitter cards -->
  <meta name="twitter:site"    content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ page.author }}">
  <meta name="twitter:title"   content="{{ page.title }}">

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card"  content="summary">
  <meta name="twitter:image" content="{{ site.url }}/assets/img/vac.png">
  {% endif %}
  <!-- end of Twitter cards -->

  <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | relative_url }}" type="image/png" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
</head>
