:root {
}

body,
html {
  overflow-x: hidden;
}

.blog-wrapper {
  main {
    margin-left: 0 !important;
  }
}

.community-container {
  max-width: 796px;
  margin: 16px auto 0 auto;
}

div:has(.community-container) > .container {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

div[class^='blogHeader'] {
  span {
    display: none;
  }
}