---
layout: default
---

<div class="container post-content">
    <div class="row">
        <div class="col-lg-10 ml-auto mr-auto">
            <h1>{{page.title}}</h1>
            <div class="meta">{{ page.date | date_to_string }} • <a href="/authors/{{ page.author }}">{{ page.author }}</a></div>
            <div class="editor-content">
                {{ content }}

                {% if page.discuss %}
                    <p>Discuss this post on our <a href="{{ page.discuss }}">forum</a>. </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
