---
layout: default
---

<section class="container max-w-screen-xl flex flex-col sm:flex-row pt-10 pb-8 lg:py-10 border-b">
  <div class="heading-block w-full sm:w-2/12 lg:w-3/12 flex lg:justify-center items-start pb-3 sm:pb-0">
    <a class="link link--back" href="/">Back</a>
  </div>
  <div class="info-block w-full sm:w-10/12 lg:w-9/12">
    <h1 class="text-xl md:text-xxl mb-5 lg:mb-10 sm:max-w-md lg:max-w-xl">Research log</h1>
    <p class="section__text text-s lg:text-base italic l:max-w-md">We take inspiration from core internet architecture, existing survey work and other efforts that have been done to decompose the problem into orthogonal pieces.</p>
  </div>
</section>

{%- comment -%}
<section class="container max-w-screen-xl flex flex-col sm:flex-row pt-10 pb-3 sm:pb-8 border-b">
  <div class="heading-block w-full sm:w-2/12 lg:w-3/12 pr-2 ml:pr-0">
    <h2 class="text-sm font-semibold mb-5 text-center">Open problems</h2>
  </div>

  <div class="info-block w-full sm:w-10/12 lg:w-9/12">
    <ul class="container s:mx-auto flex flex-col flex-wrap sm:flex-row">
      {% for post in site.posts %} {% if post.categories contains "problem" %} {% include post-preview.html %} {% endif %} {% endfor %}
    </ul>
  </div>
</section>
{%- endcomment -%}

<section class="container max-w-screen-xl flex flex-col sm:flex-row pt-10 pb-3 sm:pb-8">
  <div class="heading-block w-full sm:w-2/12 lg:w-3/12 pr-2 ml:pr-0">
    <h2 class="text-sm font-semibold mb-5 text-center">Research entries</h2>
  </div>

  <div class="info-block w-full sm:w-10/12 lg:w-9/12">
    <ul class="container s:mx-auto flex flex-col flex-wrap sm:flex-row">
      {% for post in site.posts %} {% include post-preview.html %} {% endfor %}
    </ul>
  </div>
</section>
